<h2>{{ _e('The item could not be found...', 'eventus') }}	</h2>
<button 
    class="button-primary ico ico-back" 
    type="button" 
    onclick="window.history.back()"
>
    {{ _e('Return', 'eventus') }}
</button> 