{% filter shortcodes %}    
    [av_textblock size='' font_color='' color='' av-medium-font-size='' av-small-font-size='' av-mini-font-size='' av_uid='' admin_preview_bg='']
        <p style='text-align: center;'><span style='font-size: 28px;'>{{ team.getPosition() }}e</span><br />{{ team.getPoints() }} pts</p>
    [/av_textblock] 
{% endfilter %}