/* Resultats Shortcode */
.eventus_results {	
	width: 100%;
	position: relative;
	height: 1000px;
	overflow: hidden;
	color: black;
}

.eventus_results .club {
	width: 100%;
	position: absolute;
	opacity: 1;
	transition: .5s ease-in-out;
}
.eventus_results .ligneNomSuivant{
	display: flex;
	justify-content: space-between;
	margin: 0 0 15px 0;
}
.eventus_results .ligneNomSuivant p{
	margin: 0;
	font-size: 1.3em;
	text-transform: uppercase;
}
.eventus_results .ligneNomSuivant button{
	padding: 0 5px 1px 8px;
	border-radius: 3px;
	background-color: #e7e7e7;
	color: black;
	border: 2px solid #e7e7e7;
	transition-duration: 0.4s;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
}
.eventus_results .ligneNomSuivant button:hover{
	background-color: white;
	color: black;
	border: 2px solid #e7e7e7;
}
.eventus_results .sexe {
	font-weight: 600;
	font-size: 1.1em;
	margin: 0 0 .2em;
}
.eventus_results .resultat{
	margin: 0 0 15px 0;
}
.eventus_results .resultat .ligneEqDate {
	border-bottom: 2px solid #264782;
	display: flex;
	justify-content: space-between;
	background: #0F3375;
	padding: 2px 5px 0px 5px;
	color: white;
}
.eventus_results .resultat .ligneEqDate a {
	box-shadow: none;
}
.eventus_results .resultat .ligneEqDate a:hover {
	box-shadow: none;
	color: #fedf47;
}
.eventus_results .resultat .ligneEqDate p {
	margin: 0;
}
.eventus_results .resultat div[class^="equipe"] {
	border-bottom: 1px solid #eee;
	display: flex;
}
.eventus_results .resultat div[class^="equipe"] p:first-child {
	margin: 0 5px 0 0;
	min-width: 23px;
	padding: 0 0 0 5px;
}
.eventus_results .resultat div[class^="equipe"] p:last-child {
	border-left: 1px solid #eee;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	padding: 0 5px;
}